/* Style Sheet for Landing Page Project */

* {
    /* border: 1px solid black; */
}

.header {
    display: flex;
    gap: 1em;
    background-color: #1F2937;
    color: white;
    align-items: baseline;
    /* border-radius: 25px; */
}

.header > button:hover {
    background-color:aquamarine;
}
.logo {
    margin-left: 100px;
    font-size: 24px;
    font-weight: bold;
}

.last-link {
    margin-right: 100px;
}

.first-link {
    margin-left: auto;
}

.container-one {
    /* border: 1px solid black; */
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    gap: 2em;
    /* border-radius: 25px; */
}

.container-one-txt {
    color: white;
    margin-left: 100px;
    width: 400px
}

button {
    background: #3882F6;
    color: white;
}

#signup:hover {
    font-size: 20px;
   background-color: black;
}

.robot {
    margin-right: 100px;
    border-radius: 25px;
}

.info,
.cards {
    display: flex;
    justify-content: center;
}

.info {
    font-size: 26px;
    font-weight: bold;
    color: #1F2937;
    padding: 30px;
}

.cards {
    gap: 2em;
    text-align: center;
    justify-content: center;
}

.card {
    /* padding: 25px; */
    height: 75px;
    width: 75px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.subtext {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.container-two {
    padding-bottom: 30px;
}
.container-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    border-radius: 100px;
}

.quote {
    /* border: 1px solid red; */
    width: 600px;
    display: flex;
}

.quote-author {
    border: 1px solid black;
    display: flex;
    margin-left: auto;
}
.quote-text {
    font-weight: 1;
    font-size: 24px;
}