/* Style Sheet for Landing Page Project */
* {
    /* border: 1px solid black; */
}

.header {
    display: flex;
    gap: 1em;
    background-color: #1F2937;
    color: white;
    align-items: baseline;
}

.logo {
    margin-left: 100px;
    font-size: 24px;
    font-weight: bold;
}

.last-link {
    margin-right: 100px;
}

.first-link {
    margin-left: auto;
}

.container-one {
    /* border: 1px solid black; */
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 2em;
}

.container-one-txt {
    color: white;
    margin-left: 100px;
    width: 400px
}

.robot {
    margin-right: 100px;
}